<h1>Eat-Da-Burger!</h1>
<div class="container-fluid" style="text-align: center;">
  <div class="row">
    <div class="col-6" style="align-content:right">
      <h2>Burgers ready for you to eat:</h2>
      <div class="d-flex justify-content-center">
        <ul>
          {{#each burgers}}
          {{#unless eaten}}
          {{> burgers/burger-block eaten=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-6">
      <h2>Burgers you've eaten:</h2>
      <div class="d-flex justify-content-center">
        <ul>
          {{#each burgers}}
          {{#if eaten}}
          {{> burgers/burger-block eaten=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


<h2 style="clear: left;">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" size="30" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
